body {
    background-image: url("../images/matrix_background.jpg");
}

.header {
    height: auto;
    width: 100%;  
}

#logo-1 {
    display: block;
    margin: auto;
    width: 80%;
    padding-top: 10px;      
}

#logo-2 {
    display: block;
    margin: auto;
    width: 60%;
}

.container {
    background:rgba(0, 0, 0, 0.6);
    margin-top: 40px;
}

.column {
  border: 2px solid #33c83f;
}

.pic-col {
  margin: 0;
  padding: 0;
}

.pic-col img {
  width: 100%;
}

.game-col {
  font-size: 18px;
  font-weight: 900;
  color: white;
  text-align: center;
  padding-top: 10px;
}

p {
  line-height: 1.5em;
  margin: 0;
}

#word, #guessed {
  letter-spacing: 1em;
  padding-left: 1em;
}

/* Media Queries */

@media (min-width: 576px) {
    .container {  
      max-width: 800px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 800px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 800px;
    }
  }